<!-- landing-page.component.html -->
<nav class="bg-blue-500 p-4">
    <div class="container mx-auto flex justify-between items-center">
      <div class="text-white text-2xl font-bold">
        <a href="#">Resume Ranker</a>
      </div>
      <div>
        <button 
          class="text-white bg-blue-700 hover:bg-blue-800 px-4 py-2 rounded mr-4"
          (click)="goToLogin()">
          Login
        </button>
        <button 
          class="text-white bg-green-700 hover:bg-green-800 px-4 py-2 rounded"
          (click)="goToRegister()">
          Register
        </button>
      </div>
    </div>
  </nav>
  